.book-card {
    padding: 1rem;
    overflow: hidden;
    gap: 1rem;
    max-width: 625px;
    box-shadow: 0 1px rgba(162, 159, 159, 0.37);
    height: 180px;

    img {
        max-height: 120px;
    }
    .info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        p {
        overflow: hidden;
    }
}
.details-title, .read-more {
    align-self: flex-start;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.book-actions {
    gap: 15px;
    display: flex;
    flex-direction: column;

    .action-btn {
        border-radius: 10px;
        padding-inline: 1rem;
    }

}

}

.limit-txt {
    max-height: 40px;
    &::after {
        content: 'Read More';
    }


}