<section class="container flex column align-center justify-center signup-wrapper">
        <h1>Join our community!</h1>
            <form class="flex column" (ngSubmit)="onSignup()">
                <label for="email">
                    <input [(ngModel)]="user.email" type="email" name="email" id="email" placeholder="Email">
                </label>
                <label for="password">
                    <input [(ngModel)]="user.password" type="password" name="password" id="password" placeholder="Password">
                </label>
                <button class="nice-button">Go</button>
            </form>
        </section>
        <div class="imgs">
            <img class="signup-img" src="assets/img/lady-reading.png"/>
        </div>