<section class="container flex column align-center signup-wrapper">
    <h1>Join our community!</h1>
        <form class="flex column" action="">
            <label for="username">
                <input type="text" name="username" placeholder="Username">
            </label>
            <label for="password">
                <input type="text" name="password" placeholder="Password">
            </label>
            <button class="nice-button">Go</button>
        </form>
        <div class="imgs">
            <img class="signup-img" src="assets/img/read-book.png"/>
            <img class="signup-img" src="assets/img/lady-read.png"/>
        </div>
</section>