.signup-wrapper {
    margin-block-start: 2rem;
    // margin-inline: 175px;
    gap: 15px;
    padding: 1.5rem;

    form {
        gap: 5px;
        input {
            min-width: 280px;
        }
    }
    .signup-img {
        max-width: 600px;

        @media(max-width: 1250px) {
            max-width: 400px;
        }

        @media(max-width: 850px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}