<section class="details-container">
    <div class="book-details">
        <a class="back" routerLink="/explore">X</a>
        <img *ngIf="book.imgUrl.slice(0,4) !== 'http'; else elseBlock" [src]="'assets/img/' + book.imgUrl" alt=""/>
        <ng-template #elseBlock>
            <img [src]="book.imgUrl" alt=""/>
        </ng-template>        
        <div class="book-info flex column">
            <h2>{{book.title}}</h2>
            <span class="small-title">{{book.author}}</span>
            <p>
                {{book.description}}
            </p>

        </div>
    </div>
</section>