        <nav class="main-nav flex align-center">
            <a exact class='main-nav-item' routerLink="/home"  routerLinkActive="selected">
                Home
            </a>
            <a class='main-nav-item' routerLink="/explore" routerLinkActive="selected">
                Explore
            </a>  
            <!-- <a class='main-nav-item' routerLink="/top" routerLinkActive="selected">
                Top Rated
            </a>  
            <a class='main-nav-item' routerLink="/about" routerLinkActive="selected">
                About Us
            </a> -->
          </nav>
